<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TCC_CasaDeApoio.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="TCC_CasaDeApoio.Properties.Settings.CasaDeApoioNossoLarConnectionString"
            connectionString="Data Source=DESKTOP-PQROGCQ;Initial Catalog=CasaDeApoioNossoLar;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="TCC_CasaDeApoio.Properties.Settings.CasaDeApoioNossoLarConnectionString1"
            connectionString="Data Source=MATHEUS-C5\SQLEXPRESS;Initial Catalog=CasaDeApoioNossoLar;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <TCC_CasaDeApoio.Properties.Settings>
            <setting name="Setting" serializeAs="String">
                <value>return @" server = DESKTOP-PQROGCQ;
                     database=CasaDeApoioNossoLar;
                     trusted_connection=true"</value>
            </setting>
        </TCC_CasaDeApoio.Properties.Settings>
    </userSettings>
</configuration>
